# Generic files
*~
*.orig
*.user

# build directories
Sources/build
Sources/Format Converter/build

# binary target folder
Sources/BIN

# Installation Setup
Installation Setup/BUSMASTER_Cleanup_Registry.exe
Installation Setup/BUSMASTER_Installer_Ver_*.exe

# Documents
Documents/1 Development Environment/out
Documents/1 Development Environment/temp
Documents/2 Requirement Specification/out
Documents/2 Requirement Specification/temp
Documents/3 Design Document/out
Documents/3 Design Document/temp
Documents/4 Help/out
Documents/4 Help/temp
Documents/4 Help_New/out
Documents/4 Help_New/temp
Documents/5 Source Code Documentation/out

# Tests
Tests/AStyle/new.txt
Tests/AStyle/report.html
Tests/AutoIt/*/out
Tests/AutoIt/report.html
Tests/CCCC/files.txt
Tests/CCCC/report
Tests/Cppcheck/cppcheck.xml
Tests/Cppcheck/report
Tests/PMD/cpd.html
Tests/PMD/cpd.xml
Tests/PMD/cpd-fixed.xml
Tests/Requirements Traceability Matrix/report.html
