// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXRES_RC__
#define __AFXRES_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 標準 MFC リソースの変更はできません! >\0"
END
#endif //APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Default resource description for MFC applications
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
// RCDATA

AFX_IDR_SCRATCH_SHMENU RCDATA DISCARDABLE
BEGIN
	AFX_IDR_SCRATCH_SHMENU, 1,
	I_IMAGENONE, IDM_SHAREDNEW, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_SHNEW, 0, NOMENU,
END

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE DISCARDABLE
BEGIN
#ifndef _AFX_NO_APPMENU_RESOURCES
	AFX_IDS_OPENFILE,               "開く"
	AFX_IDS_SAVEFILE,               "名前を付けて保存"
	AFX_IDS_ALLFILTER,              "すべてのファイル (*.*)"
	AFX_IDS_UNTITLED,               "無題"
	AFX_IDS_HIDE,                   "非表示(&H)"
#endif // !_AFX_NO_APPMENUSTRING_RESOURCES

	AFX_IDS_MEMORY_EXCEPTION,       "メモリが不足しています。"
	AFX_IDS_NOT_SUPPORTED_EXCEPTION,"サポートされていない操作を実行しようとしました。"
	AFX_IDS_RESOURCE_EXCEPTION,     "必要なリソースを利用できませんでした。"
	AFX_IDS_USER_EXCEPTION,         "不明なエラーが発生しました。"
	AFX_IDS_INVALID_ARG_EXCEPTION	"引数が正しくありません。"

	// General error prompts
#ifndef _AFX_NO_FILECMD_RESOURCES
	AFX_IDP_INVALID_FILENAME,       "ファイル名が正しくありません。"
	AFX_IDP_FAILED_TO_OPEN_DOC,     "ドキュメントを開くことに失敗しました。"
	AFX_IDP_FAILED_TO_SAVE_DOC,     "ドキュメントの保存に失敗しました。"
	AFX_IDP_ASK_TO_SAVE,            "%1 への変更を保存しますか?"
	AFX_IDP_FAILED_TO_CREATE_DOC,   "空のドキュメントの作成に失敗しました。"
	AFX_IDP_FILE_TOO_LARGE,         "ファイルが大きすぎて開けません。"
	AFX_IDP_FAILED_TO_START_PRINT,  "印刷ジョブを開始できませんでした。"
#endif // !_AFX_NO_FILECMD_RESOURCES
	AFX_IDP_FAILED_TO_LAUNCH_HELP,  "ヘルプの起動に失敗しました。"
	AFX_IDP_INTERNAL_FAILURE,       "アプリケーションの内部エラーです。"
	AFX_IDP_COMMAND_FAILURE,        "コマンドの実行に失敗しました。"
	AFX_IDP_FAILED_MEMORY_ALLOC     "メモリ不足のため実行できません。"
	AFX_IDP_GET_NOT_SUPPORTED,      "書き込み専用プロパティからは読み取れません。"
	AFX_IDP_SET_NOT_SUPPORTED,      "読み取り専用プロパティには書き込めません。"
	AFX_IDP_UNREG_DONE,               "システム レジストリ エントリは削除されています。また、INI ファイルがある場合は、INI ファイルも削除されました。"
	AFX_IDP_UNREG_FAILURE,            "一部のシステム レジストリ エントリ (または INI ファイル) は削除されませんでした。"
	AFX_IDP_DLL_LOAD_FAILED,        "このプログラムにはファイル %s が必要ですがこのシステム上に見つかりませんでした。"
	AFX_IDP_DLL_BAD_VERSION,        "このプログラムは欠落エクスポート %s にファイル %s 内でリンクされています。このコンピュータは互換性のないバージョンの %s を含んでいる可能性があります。"

	// CFile/CArchive error strings for user failure
#ifndef _AFX_NO_CFILE_RESOURCES
	AFX_IDP_FAILED_INVALID_FORMAT   "予期しないファイル形式です。"
	AFX_IDP_FAILED_INVALID_PATH     "%1\nこのファイルが見つかりません。\nパスとファイル名が正しいかどうか確認してださい。"
	AFX_IDP_FAILED_DISK_FULL        "出力先のディスク ドライブの空き容量が不足しています。"
	AFX_IDP_FAILED_ACCESS_READ      "%1 は使用中のため、読み取れません。"
	AFX_IDP_FAILED_ACCESS_WRITE     "%1 は使用中または読み取り専用のため、書き込めません。"
	AFX_IDP_FAILED_IO_ERROR_READ    "%1 の読み取り中に予期しないエラーが発生しました。"
	AFX_IDP_FAILED_IO_ERROR_WRITE   "%1 の書き込み中に予期しないエラーが発生しました。"
#endif // !_AFX_NO_CFILE_RESOURCES

	// Parsing error prompts
	AFX_IDP_PARSE_INT,              "整数を入力してください。"
	AFX_IDP_PARSE_REAL,             "数字を入力してください。"
	AFX_IDP_PARSE_INT_RANGE,        "%1 から %2 までの整数を入力してください。"
	AFX_IDP_PARSE_REAL_RANGE,       "%1 から %2 までの数字を入力してください。"
	AFX_IDP_PARSE_STRING_SIZE,      "%1 文字以内で入力してください。"
	AFX_IDP_PARSE_RADIO_BUTTON,     "ボタンを選択してください。"
	AFX_IDP_PARSE_BYTE,             "0 から 255 までの整数を入力してください。"
	AFX_IDP_PARSE_UINT,             "正の整数を入力してください。"
	AFX_IDP_PARSE_DATETIME,         "日付/時刻を入力してください。"
	AFX_IDP_PARSE_CURRENCY,         "通貨型を入力してください。"
	AFX_IDP_PARSE_GUID,             "GUID を入力してください。"
	AFX_IDP_PARSE_TIME,             "時刻を入力してください。"
	AFX_IDP_PARSE_DATE,             "日付を入力してください。"

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_OLE_RESOURCES)
	// OLE strings required for both servers and containers
	AFX_IDS_PASTELINKEDTYPE         "%s をリンクしました。"
	AFX_IDS_UNKNOWNTYPE             "不明な型です。"
	AFX_IDP_FAILED_TO_NOTIFY        "%1\nドキュメントを登録できません。\nドキュメントは既に開かれている可能性があります。"
	AFX_IDS_NOT_DOCOBJECT			"ドキュメント オブジェクト サーバーは、このファイルをサポートしていません。"
#endif //!_WIN32_WCE && !_AFX_NO_OLE_RESOURCES

	AFX_IDP_NO_ERROR_AVAILABLE      "エラー メッセージはありません。"

#ifndef _AFX_NO_CFILE_RESOURCES
	AFX_IDP_FILE_NONE                "エラーはありませんでした。"
	AFX_IDP_FILE_GENERIC             "%1 へのアクセス中に不明なエラーが発生しました。"
	AFX_IDP_FILE_NOT_FOUND           "%1 が見つかりませんでした。"
	AFX_IDP_FILE_BAD_PATH            "%1 に正しくないパスが含まれています。"
	AFX_IDP_FILE_TOO_MANY_OPEN       "開いているファイルが多すぎるため、%1 を開けませんでした。"
	AFX_IDP_FILE_ACCESS_DENIED       "%1 へのアクセスは拒否されました。"
	AFX_IDP_FILE_INVALID_FILE        "正しくないファイル ハンドルが %1 に関連付けられていました。"
	AFX_IDP_FILE_REMOVE_CURRENT      "現在のディレクトリ %1 は削除できませんでした。"
	AFX_IDP_FILE_DIR_FULL            "%1 を作成できませんでした。そのディレクトリはいっぱいです。"
	AFX_IDP_FILE_BAD_SEEK            "%1 のシークに失敗しました。"
	AFX_IDP_FILE_HARD_IO             "%1 へのアクセス中にハードウェア I/O エラーが報告されました。"
	AFX_IDP_FILE_SHARING             "%1 へのアクセス中に共有違反が発生しました。"
	AFX_IDP_FILE_LOCKING             "%1 へのアクセス中にロック違反が発生しました。"
	AFX_IDP_FILE_DISKFULL            "%1 へのアクセス中にディスクがいっぱいになりました。"
	AFX_IDP_FILE_EOF                 "%1 の末尾以降にアクセスしようとしました。"
	AFX_IDS_UNNAMED_FILE             "無題のファイル"
#endif // !_AFX_NO_CFILE_RESOURCES

	AFX_IDP_ARCH_NONE               "エラーはありませんでした。"
	AFX_IDP_ARCH_GENERIC                "%1 へのアクセス中に不明なエラーが発生しました。"
	AFX_IDP_ARCH_READONLY           "%1 の読み取り中に書き込もうとしました。"
	AFX_IDP_ARCH_ENDOFFILE          "%1 の末尾以降にアクセスしようとしました。"
	AFX_IDP_ARCH_WRITEONLY          "%1 へ書き込み中に読み取ろうとしました。"
	AFX_IDP_ARCH_BADINDEX           "%1 の形式が正しくありません。"
	AFX_IDP_ARCH_BADCLASS           "%1 は予期しないオブジェクトを含んでいます。"
	AFX_IDP_ARCH_BADSCHEMA          "%1 は不正なスキーマを含んでいます。"

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_MAPI_RESOURCES)
	// MAPI strings / error messages
	AFX_IDP_FAILED_MAPI_LOAD        "メール システム サポートを読み込めません。"
	AFX_IDP_INVALID_MAPI_DLL        "メール システム DLL が無効です。"
	AFX_IDP_FAILED_MAPI_SEND        "メールの送信に失敗しました。"
#endif //!_WIN32_WCE && !_AFX_NO_MAPI_RESOURCES

#ifndef _AFX_NO_OCC_RESOURCES
	AFX_IDS_OCC_SCALEUNITS_PIXELS   "ピクセル"
#endif //!_AFX_NO_OCC_RESOURCES

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_SCRIPT_RESOURCES)
	AFX_IDP_SCRIPT_ERROR            "%1: %2\nスクリプトの実行を続行しますか?"
	AFX_IDP_SCRIPT_DISPATCH_EXCEPTION "ディスパッチの例外: %1"
#endif //!_WIN32_WCE && !_AFX_NO_SCRIPT_RESOURCES
	AFX_IDS_CHECKLISTBOX_UNCHECK	"オフ"
	AFX_IDS_CHECKLISTBOX_CHECK		"オン"
	AFX_IDS_CHECKLISTBOX_MIXED		"混合"

#ifdef _WIN32_WCE
	AFX_IDS_INTL_ALLFILES           "すべてのファイル|*.*|"
	AFX_IDS_INTL_ALLFOLDERS         "すべてのフォルダ"
	AFX_IDS_INTL_DIRMYDOCUMENTS     "\\My Documents"
#endif // _WIN32_WCE

END

/////////////////////////////////////////////////////////////////////////////
// Cursors

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_HELP_RESOURCES)
AFX_IDC_CONTEXTHELP     CURSOR  DISCARDABLE     "res\\help.cur"
#endif //!_WIN32_WCE && !_AFX_NO_HELP_RESOURCES

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_SPLITTER_RESOURCES)
AFX_IDC_SMALLARROWS     CURSOR  DISCARDABLE     "res\\sarrows.cur"
AFX_IDC_HSPLITBAR       CURSOR  DISCARDABLE     "res\\splith.cur"
AFX_IDC_VSPLITBAR       CURSOR  DISCARDABLE     "res\\splitv.cur"
AFX_IDC_NODROPCRSR      CURSOR  DISCARDABLE     "res\\nodrop.cur"
#endif //!_WIN32_WCE && !_AFX_NO_SPLITTER_RESOURCES

#ifndef _AFX_NO_TRACKER_RESOURCES
AFX_IDC_TRACKNWSE       CURSOR  DISCARDABLE     "res\\trcknwse.cur"
AFX_IDC_TRACKNESW       CURSOR  DISCARDABLE     "res\\trcknesw.cur"
AFX_IDC_TRACKNS         CURSOR  DISCARDABLE     "res\\trckns.cur"
AFX_IDC_TRACKWE         CURSOR  DISCARDABLE     "res\\trckwe.cur"
AFX_IDC_TRACK4WAY       CURSOR  DISCARDABLE     "res\\trck4way.cur"
AFX_IDC_MOVE4WAY        CURSOR  DISCARDABLE     "res\\move4way.cur"
#endif //!_AFX_NO_TRACKER_RESOURCES

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_MOUSE_RESOURCES)
// cursors
AFX_IDC_MOUSE_PAN_N	CURSOR  DISCARDABLE	"res\\im_pann.cur"
AFX_IDC_MOUSE_PAN_S	CURSOR  DISCARDABLE	"res\\im_pans.cur"
AFX_IDC_MOUSE_PAN_E	CURSOR  DISCARDABLE	"res\\im_pane.cur"
AFX_IDC_MOUSE_PAN_W	CURSOR  DISCARDABLE	"res\\im_panw.cur"
AFX_IDC_MOUSE_PAN_NE	CURSOR  DISCARDABLE	"res\\im_panne.cur"
AFX_IDC_MOUSE_PAN_NW	CURSOR  DISCARDABLE	"res\\im_pannw.cur"
AFX_IDC_MOUSE_PAN_SE	CURSOR  DISCARDABLE	"res\\im_panse.cur"
AFX_IDC_MOUSE_PAN_SW	CURSOR  DISCARDABLE	"res\\im_pansw.cur"
AFX_IDC_MOUSE_PAN_HORZ	CURSOR  DISCARDABLE	"res\\im_panh.cur"
AFX_IDC_MOUSE_PAN_VERT	CURSOR  DISCARDABLE	"res\\im_panv.cur"
AFX_IDC_MOUSE_PAN_HV	CURSOR  DISCARDABLE	"res\\im_panhv.cur"

// anchor bitmaps
AFX_IDC_MOUSE_ORG_HORZ	CURSOR	DISCARDABLE	"res\\im_orgh.cur"
AFX_IDC_MOUSE_ORG_VERT	CURSOR	DISCARDABLE	"res\\im_orgv.cur"
AFX_IDC_MOUSE_ORG_HV	CURSOR	DISCARDABLE	"res\\im_orghv.cur"
#endif // !_WIN32_WCE && !_AFX_NO_MOUSE_RESOURCES

/////////////////////////////////////////////////////////////////////////////
// Standard Dialogs

#ifndef _AFX_NO_NEWTYPEDLG_RESOURCES
AFX_IDD_NEWTYPEDLG DIALOG DISCARDABLE  9, 26, 183, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x04
CAPTION "新規"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "新規(&N) ",IDC_STATIC,6,5,123,8,NOT WS_GROUP
	LISTBOX         AFX_IDC_LISTBOX,6,15,125,49,WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "OK",IDOK,137,6,40,14
	PUSHBUTTON      "キャンセル",IDCANCEL,137,23,40,14
	PUSHBUTTON      "ヘルプ(&H)",ID_HELP,137,43,40,14
END
#endif // !_AFX_NO_NEWTYPEDLG_RESOURCES

AFX_IDD_EMPTYDIALOG DIALOG DISCARDABLE  9, 26, 183, 70
#ifndef _WIN32_WCE
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
#else
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
#endif // !_WIN32_WCE
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN	
END

/////////////////////////////////////////////////////////////////////////////
// CMiniFrameWnd Bitmap

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_MINIFRAME_RESOURCES)
AFX_IDB_MINIFRAME_MENU      BITMAP  DISCARDABLE     "res\\minifwnd.bmp"
#endif // !_WIN32_WCE && !_AFX_NO_MINIFRAME_RESOURCES

/////////////////////////////////////////////////////////////////////////////
// CCheckListBox Bitmaps

#if !defined(_WIN32_WCE) && !defined(_AFX_NO_CHECKLISTBOX_RESOURCES)
AFX_IDB_CHECKLISTBOX_95     BITMAP  DISCARDABLE     "res\\95check.bmp"
#endif // !_WIN32_WCE && !_AFX_NO_CHECKLISTBOX_RESOURCES

#ifdef _WIN32_WCE
/////////////////////////////////////////////////////////////////////////////
//CFindReplaceDialog related resources

//String constants
#define WCE_FR_FIND_CAPTION					"検索"
#define WCE_FR_MATCH_WHOLE_WORD_ONLY 		"単語単位で探す"
#define WCE_FR_MATCH_CASE			 		"大文字と小文字を区別する"
#define WCE_FR_UP                    				"上へ"
#define WCE_FR_DOWN                  				"下へ"
#define WCE_FR_FIND_NEXT             				"次を検索"
#define WCE_FR_CANCEL                				"キャンセル"
#define WCE_FR_HELP                  				"ヘルプ"
#define WCE_FR_DIRECTION             				"検索方向"
#define WCE_FR_FIND_WHAT             			"検索する文字列:"
#define WCE_FR_REPLACE_CAPTION       			"置換"
#define WCE_FR_REPLACE_WITH          			"置換後の文字列:"
#define WCE_FR_REPLACE               				"置換"
#define WCE_FR_REPLACE_ALL           			"すべて置換"

STRINGTABLE DISCARDABLE
BEGIN
	AFXCE_IDS_END_SEARCH				"ドキュメントの検索を完了しました。"
	AFXCE_IDS_NOT_FOUND				"一致する項目が見つかりません。"
	AFXCE_IDS_MENU_SP					"メニュー"
	AFXCE_IDS_CANCEL					"キャンセル"
END

WCE_FINDDLG_SP DIALOG   0, 0, 113, 116
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION WCE_FR_FIND_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           	WCE_FR_FIND_WHAT,-1,28,05,70,8,NOT WS_GROUP
    EDITTEXT        	ID_EDIT1,7,16,123,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         	WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | BS_MULTILINE,7,35,123,16
    CONTROL         	WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP | BS_MULTILINE,7,55,123,16
    CONTROL         	WCE_FR_UP ,ID_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,19,83,90,10
    CONTROL         	WCE_FR_DOWN,ID_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,19,95,90,10
    GROUPBOX      	    WCE_FR_DIRECTION,ID_GROUP1,7,75,123,35
END

WCE_REPLACEDLG_SP DIALOG  0, 0, 113, 116
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION WCE_FR_FIND_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
   CTEXT           	WCE_FR_FIND_WHAT,-1,28,05,70,8,NOT WS_GROUP
    EDITTEXT        	ID_EDIT1,7,17,123,14,ES_AUTOHSCROLL | WS_GROUP
    CTEXT            	WCE_FR_REPLACE_WITH,-1,30,35,50,8,NOT WS_GROUP
    EDITTEXT        	ID_EDIT2,7,46,123,14,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         	WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP | BS_MULTILINE,7,90,123,16
    CONTROL         	WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | BS_MULTILINE,7,70,123,16
END

WCE_FINDDLG_PPC DIALOG DISCARDABLE  0, 0, 156, 129
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_FIND_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
	    LTEXT         WCE_FR_FIND_WHAT,-1,5,9,146,8,NOT WS_GROUP
	    EDITTEXT      ID_EDIT1,5,20,146,12,ES_AUTOHSCROLL | WS_GROUP
	    CONTROL       WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
	                   WS_GROUP | WS_TABSTOP,5,50,146,10
	    CONTROL       WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
	      		           WS_TABSTOP,5,36,146,10
	    CONTROL       WCE_FR_UP,ID_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | BS_MULTILINE |
	                   			WS_TABSTOP,10,70,60,20
	    CONTROL       WCE_FR_DOWN,ID_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP | BS_MULTILINE,
			                     80,70,60,20
	    GROUPBOX      WCE_FR_DIRECTION,ID_GROUP1,5,62,146,30
	    PUSHBUTTON    WCE_FR_FIND_NEXT,ID_BUTTON_FIND,5,97,68,12,WS_GROUP
	    PUSHBUTTON    WCE_FR_CANCEL,IDCANCEL,78,97,68,12,WS_GROUP
	    PUSHBUTTON    WCE_FR_HELP,ID_BUTTON_HELP,5,113,146,12,WS_GROUP
	    CONTROL	  "",-1,"SIPPREF" ,NOT WS_VISIBLE,-10,-10,5,5
END

WCE_REPLACEDLG_PPC DIALOG DISCARDABLE  0, 0, 156, 129
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_REPLACE_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
	    LTEXT          WCE_FR_FIND_WHAT,-1,5,9,146,8,NOT WS_GROUP
	    EDITTEXT       ID_EDIT1,5,17,146,12,ES_AUTOHSCROLL | WS_GROUP
	    LTEXT          WCE_FR_REPLACE_WITH,-1,5,33,146,8,NOT WS_GROUP
	    EDITTEXT       ID_EDIT2,5,41,146,12,ES_AUTOHSCROLL | WS_GROUP
	    CONTROL        WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
	                    WS_GROUP | WS_TABSTOP,5,69,146,12
	    CONTROL        WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
			    WS_TABSTOP,5,55,146,12
	    PUSHBUTTON     WCE_FR_FIND_NEXT,ID_BUTTON_FIND,5,85,68,12,WS_GROUP
	    PUSHBUTTON     WCE_FR_REPLACE,ID_BUTTON1,78,85,68,12,WS_GROUP
	    PUSHBUTTON     WCE_FR_REPLACE_ALL,ID_BUTTON2,78,100,68,12,WS_GROUP
	    PUSHBUTTON     WCE_FR_CANCEL,IDCANCEL,5,100,68,12,WS_GROUP
	    PUSHBUTTON     WCE_FR_HELP,ID_BUTTON_HELP,5,115,146,12,WS_GROUP
	    CONTROL	   "",-1,"SIPPREF",NOT WS_VISIBLE,-10,-10,5,5
END

WCE_FINDREPLACEBAR DIALOG DISCARDABLE  0,0,204,26
STYLE WS_CHILD | DS_USEPIXELS
BEGIN

    PUSHBUTTON      "次へ",ID_BUTTON_FIND,5,3,49,21
    PUSHBUTTON      WCE_FR_REPLACE_CAPTION,ID_BUTTON1,57,3,67,21
    PUSHBUTTON      WCE_FR_REPLACE_ALL,ID_BUTTON2,127,3,84,21
    PUSHBUTTON      "OK",IDOK,214,3,21,21, BS_OWNERDRAW
END

WCE_FINDDLG DIALOG DISCARDABLE  0, 0, 270, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_FIND_CAPTION
BEGIN
    LTEXT           	WCE_FR_FIND_WHAT,-1,5,9,63,8,NOT WS_GROUP
    EDITTEXT        	ID_EDIT1,70,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         	WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,4,33,119,12
    CONTROL         	WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,48,119,12
    CONTROL         	WCE_FR_UP,ID_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,127,33,62,12
    CONTROL         	WCE_FR_DOWN,ID_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    127,48,62,12
    GROUPBOX        WCE_FR_DIRECTION,ID_GROUP1,123,23,68,40
    PUSHBUTTON     WCE_FR_FIND_NEXT,IDOK,199,5,66,14,WS_GROUP
    PUSHBUTTON     WCE_FR_CANCEL,IDCANCEL,199,27,66,14,WS_GROUP
    PUSHBUTTON     WCE_FR_HELP,ID_BUTTON_HELP,199,49,66,14,WS_GROUP
END

WCE_REPLACEDLG DIALOG FIXED IMPURE  0, 0, 270, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_REPLACE_CAPTION
BEGIN
    LTEXT           	WCE_FR_FIND_WHAT,-1,5,9,63,8,NOT WS_GROUP
    EDITTEXT        	ID_EDIT1,70,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           	WCE_FR_REPLACE_WITH,-1,5,26,63,8,NOT WS_GROUP
    EDITTEXT        	ID_EDIT2,70,24,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         	WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,5,42,138,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,5,57,138,12
    PUSHBUTTON     WCE_FR_FIND_NEXT,IDOK,192,4,72,14,WS_GROUP
    PUSHBUTTON     WCE_FR_REPLACE,ID_BUTTON1,192,21,72,14,WS_GROUP
    PUSHBUTTON     WCE_FR_REPLACE_ALL,ID_BUTTON2,192,38,72,14,WS_GROUP
    PUSHBUTTON     WCE_FR_CANCEL,IDCANCEL,192,55,72,14,WS_GROUP
    PUSHBUTTON     WCE_FR_HELP,ID_BUTTON_HELP,146,55,38,14,WS_GROUP
END

//Menubar resource for FindReplace Dialog on smartphone 
AFX_IDR_FIND_SHMENU_SP MENU PRELOAD DISCARDABLE 
BEGIN
	POPUP WCE_FR_FIND_CAPTION
	BEGIN
			MENUITEM WCE_FR_FIND_NEXT,				IDOK
			MENUITEM WCE_FR_HELP,					ID_BUTTON_HELP
	END
END

AFX_IDR_REPLACE_SHMENU_SP MENU PRELOAD DISCARDABLE 
BEGIN
	POPUP WCE_FR_FIND_CAPTION
	BEGIN
			MENUITEM WCE_FR_FIND_NEXT,				IDOK
			MENUITEM WCE_FR_REPLACE,				ID_BUTTON1
			MENUITEM WCE_FR_REPLACE_ALL,			ID_BUTTON2
			MENUITEM WCE_FR_HELP,					ID_BUTTON_HELP
	END
END

AFX_IDR_FIND_SHMENU_SP RCDATA DISCARDABLE
BEGIN
	AFX_IDR_FIND_SHMENU_SP, 
	2,
	
	I_IMAGENONE, IDCANCEL, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	AFXCE_IDS_CANCEL, 0, NOMENU,
	I_IMAGENONE, ID_MENU_SP, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    	AFXCE_IDS_MENU_SP, 0, 0,
END

AFX_IDR_REPLACE_SHMENU_SP RCDATA DISCARDABLE
BEGIN
	AFX_IDR_REPLACE_SHMENU_SP, 
	2,
	
	I_IMAGENONE, IDCANCEL, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	AFXCE_IDS_CANCEL, 0, NOMENU,
	I_IMAGENONE, ID_MENU_SP, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    	AFXCE_IDS_MENU_SP, 0, 0,
END
#endif //_WIN32_WCE
////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //!__AFXRES_RC__

/////////////////////////////////////////////////////////////////////////////
